//- button(ng-click="intent('christ')")
//- 	p I Received Christ Today
//- 
//- button(ng-click="intent('prayer')")
//- 	p I Need Prayer
//- 	
//- button(ng-click="intent('help')")
//- 	p I Need Help
//- 
//- button(ng-click="intent('team')")
//- 	p I Want to Join a Team
//- 
//- button(ng-click="intent('other')")
//- 	p Other

div.intentContainer(ng-click="setIntent('connect')")
	div.text
		h1.top Get
		h1.bottom Connected
//- button(ng-click="setIntent('connect')")
	p Get Connected!

div.intentContainer(ng-click="setIntent('christ')")
	div.text
		h1.top I Received
		h1.bottom Christ
		
div.intentContainer(ng-click="setIntent('team')")
	div.text
		h1.top Join
		h1.bottom a team
	
div.intentContainer(ng-click="setIntent('feedback')")
	div.text
		h1.top Leave
		h1.bottom Feedback


div.intentContainer(ng-click="setIntent('other')")
	div.text
		h1.top Other
