//- button(ng-click="intent('christ')")
//- 	p I Received Christ Today
//- 
//- button(ng-click="intent('prayer')")
//- 	p I Need Prayer
//- 	
//- button(ng-click="intent('help')")
//- 	p I Need Help
//- 
//- button(ng-click="intent('team')")
//- 	p I Want to Join a Team
//- 
//- button(ng-click="intent('other')")
//- 	p Other

button(ng-click="intent('connect')")
	p Get Connected!

button(ng-click="intent('christ')")
	p I Received Christ Today

button(ng-click="intent('team')")
	p I Want to Join a Team
	
button(ng-click="intent('other')")
	p Leave some feedback

button(ng-click="intent('other')")
	p Other
