// third party
@import include/reset
@import include/loader

// first party
@import include/variables
@import include/typography
@import include/forms
@import include/tables

div.container
	margin: 1em

div.overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(#333, 0.5)
	display: flex
	align-items: center

// body
	// background-color: #333

div.intentContainer
	position: relative
	height: 9em
	color: $primary-text-color
	margin: 0 -1em
	
	display: flex
	align-items: center
		
	&:first-of-type
		margin-top: .5em
	
	div.text
		h1
			font-size: 1.5em
		padding-left: 1em

div.intentContainer:nth-child(2n+1)
	background-color: $primary-color


// .intentContainer::before
// 	position: absolute
// 	top: 0
// 	left: 0
// 	right: 0
// 	bottom: 0
// 	content: ''
// 	filter: blur(3px)
// 	z-index: -1
// 
// .team::before
// 	background: url('/img/team.jpg')
// 	background-position: center
// 	
// .connect::before
// 	background: url('/img/connect.jpg')
// 	background-position: center
// 
// .christ::before
// 	background: url('/img/christ.jpg')
// 	background-position: center
